<!-- page/asignaciones/asignaciones.component.html -->
<app-menu [activo]="4"></app-menu>

<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h3>Gestión de Asignaciones</h3>
      <p class="text-muted">Administrar la relación entre abogados y casos</p>
      <hr>
    </div>
  </div>

  <div *ngIf="lista">
    <div class="d-flex justify-content-end">
      <button class="btn btn-success" (click)="mostrar()">Nueva Asignación</button>
    </div>
    <hr>
    <app-lista-asignaciones></app-lista-asignaciones>
  </div>
  <div *ngIf="!lista">
    <div class="d-flex justify-content-start">
      <button class="btn btn-primary" (click)="mostrar()">Regresar</button>
    </div>
    <hr>
    <app-asignar-abogados (accionRealizada)="recargar()"></app-asignar-abogados>
  </div>

</div>
