p{
background-image: url("/justice.jpg");
width: 100%;
height: 600px;
display: flex;
align-items: center;
justify-content: center;
}

p{
  font-size: 50px;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 4px #000000;
}

