<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Gabinete Abogados</a>
  
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" [class.active]="activo==1" href="clientes">Clientes</a>

      <a class="nav-item nav-link" [class.active]="activo==2" href="asuntos">Asuntos</a>

      <a class="nav-item nav-link" [class.active]="activo==3" href="abogados">Abogados</a>

       <a class="nav-item nav-link" [class.active]="activo==4" href="asignaciones">Asignaciones</a>
      
    </div>
  </div>
</nav>